.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70%;
    background-color: #f5f5f5;
    
    
  }
  
  .panel {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 18px;
    color: gray;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    
  }
  
  .input, .checkbox, .upload-btn, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .description {
    grid-column: span 2;
  }
  
  .upload-btn {
    background-color: #ddd;
    cursor: pointer;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .add-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  