.header-container-h {
    width: 100%;
    height: auto; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
    border: none;
    
  }
  
  .header-image {
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ensures image covers container without distortion */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }