.image-container {
  width: 100%; /* Container takes full width */
  display: flex;
  height: auto; /* Adjusted height to be flexible */
  justify-content: center; /* Center the image horizontally */
}

.image-container img {
  width: 95%; /* Keep the image taking most of the container's width */
  height: auto; /* Let the height adjust automatically based on aspect ratio */
  max-width: 100%; /* Ensure the image does not overflow */
  object-fit: contain; /* Or 'cover' depending on your preference */
}