.image-container {
    width: 100%; /* Container takes full width */
    display: flex;
    height: 60%;
   
    justify-content: center; /* Center the image horizontally */
  }
  
  .image-container img {
    width: 95%;
    height: 20%;
    max-width: 100%;  /* Ensure the image does not overflow */
    max-height: 60%; /* Ensure the image does not exceed the container height */
    object-fit: contain; /* Or 'cover' depending on your preference */
  
  }
  