
.product-card {
    background-color: #e4e0e0;
    padding: 10px;
    text-align: center;
    border: 1px solid #871b1b;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(14, 14, 14, 0.1);
  }


  /* Style for Buy Now button */
.buy-button {
    background-color: #ff9800;  /* Orange color */
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #f57c00;  /* Darker orange when hovering */
  }
  
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover; /* Ensures the image fits the container while maintaining aspect ratio */
  }
  
  .product-card h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ddd;
  }
  
  .product-card p {
    margin-top: 5px;
    font-size: 1rem;
    color: #ffffff;
  }
  
  .product-price {
    font-weight: bold;
    font-size: 1.1rem;
    color: #fbfbfb;
    margin-top: 8px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 products per row */
    gap: 20px;
    margin-top: 20px;
  }
  
  
  @media (max-width: 1200px) {
    .product-grid {
      grid-template-columns: repeat(4, 1fr); /* 4 products per row for smaller screens */
    }
  }
  
  @media (max-width: 992px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr); /* 3 products per row for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr); /* 2 products per row for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .product-grid {
      grid-template-columns: 1fr; /* 1 product per row for very small screens */
    }
  }
  