.search-bar-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .search-section {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
  }
  
  .product-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-button {
    background-color: #c9302c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .search-button:hover {
    background-color: #5f110e;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
  }
  
  .phone {
    font-weight: bold;
  }
  
  .email {
    color: gray;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    font-size: 20px;
    color: #333;
    cursor: pointer;
  }
  
  .cart {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .cart-count- {
    background-color: rgb(200, 51, 51);
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: 10px;
  }
  
  .cart-price-s {
    font-size: 14px;
    color: #333;
  }
  